#### In these exercises, we'll continue working with the titanic dataset and building logistic regression models. Throughout this exercise, be sure you are training, evaluation, and comparing models on the train and validate datasets. The test dataset should only be used for your final model.

 - For all of the models you create, choose a threshold that optimizes for accuracy.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import sklearn.metrics
import acquire as aq
import prepare
import warnings
warnings.filterwarnings("ignore")

In [12]:
df = aq.get_titanic_data()

In [13]:
df = prepare.prep_titanic(df)
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,3,male,22.0,1,0,7.2500,S,Southampton,0,1,0,1
1,1,1,female,38.0,1,0,71.2833,C,Cherbourg,0,0,0,0
2,1,3,female,26.0,0,0,7.9250,S,Southampton,1,0,0,1
3,1,1,female,35.0,1,0,53.1000,S,Southampton,0,0,0,1
4,0,3,male,35.0,0,0,8.0500,S,Southampton,1,1,0,1

In [14]:
df['bl_survival_pred'] = 0

In [15]:
train_val, test = train_test_split(
    df,
    train_size = 0.8,
    random_state = 1349,
    stratify = df['survived']
)

train, validate = train_test_split(
    train_val,
    train_size = 0.7,
    random_state = 1349,
    stratify = train_val['survived']
)

In [16]:
train.shape, validate.shape, test.shape

((498, 14), (214, 14), (179, 14))

In [17]:
x_cols = train.columns.to_list()
y_cols = 'survived'

In [18]:
baseline_accuracy = (train.survived == train.bl_survival_pred).mean()
baseline_accuracy

0.6164658634538153

##### Create a model that includes only age, fare, and pclass. Does this model perform better than your baseline?

In [19]:
x_cols.remove('survived')
x_cols.remove('bl_survival_pred')
x_cols.remove('sex')
x_cols.remove('embarked')
x_cols.remove('embark_town')
x_cols.remove('sibsp')
x_cols.remove('parch')
x_cols.remove('alone')
x_cols.remove('sex_male')
x_cols.remove('embark_town_Queenstown')
x_cols.remove('embark_town_Southampton')
x_cols

['pclass', 'age', 'fare']

In [20]:
X_train = train[x_cols]
y_train = train[y_cols]

In [23]:
X_train.head()

     pclass        age     fare
474       3  22.000000   9.8375
370       1  25.000000  55.4417
573       3  29.699118   7.7500
110       1  47.000000  52.0000
167       3  45.000000  27.9000

In [25]:
# from sklearn.linear_model import LogisticRegression
lr = sklearn.linear_model.LogisticRegression(C=1, class_weight={0:1, 1:99}, random_state=123, intercept_scaling=1, solver='lbfgs')

In [27]:
lr.fit(X_train, y_train)

LogisticRegression(C=1, class_weight={0: 1, 1: 99}, random_state=123)

##### Include sex in your model as well. Note that you'll need to encode or create a dummy variable of this feature before including it in a model.

##### Try out other combinations of features and models.

##### Use you best 3 models to predict and evaluate on your validate sample.

##### Choose you best model from the validation performation, and evaluate it on the test dataset. How do the performance metrics compare to validate? to train?